---
import Layout from "@/layouts/Layout.astro";
import { fetchWorksContents } from '@/pages/fetchWorks';
const works = await fetchWorksContents();

const title = "作品一覧 | 稲門シナリオ研究会";
const description = "稲門シナリオ研究会の映画作品一覧";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
	<main class="max-w-[1335px] mx-auto">
    <nav class="md:mt-[26px] md:mb-[21px] md:mr-0 md:justify-start md:pl-5 flex mt-[57px] mb-[60px] mr-[88px] justify-end" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
          <a href="/" class="md:text-xs inline-flex items-center leading-none text-xl text-white hover:border-b-2 border-white">
            TOP
          </a>
        </li>
        <li aria-current="page" class="li-current__breadcrumb before:!border-b before:!border-r">
          <div class="flex items-center">
            <span class="md:text-xs ms-4 text-xl text-white">作品一覧</span>
          </div>
        </li>
      </ol>
    </nav>

    <!-- <div class="px-5"> -->
      <div class="works-wrapper px-5 grid">
        {works.map((work: any) => (
          <div class="relative group aspect-video max-w-[445px] hover:cursor-pointer">
            <a href={`/tomon-scenario-club/works/detail/${work.id}`}>
              <img src={work.image.url} alt="映画のサムネイル" class="w-full h-full object-cover" />
              <div class="absolute text-base inset-0 bg-[#D9D9D9] bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col gap-[14px] items-center justify-center">
                <p class="text-black">{work.title}</p>
                <p class="text-black">{work.director}</p>
              </div>
            </a>
          </div>
        ))}
        <div class="relative group aspect-video max-w-[445px] hover:cursor-pointer bg-[#131100]">
          <a href="/" class="w-full h-full flex items-center justify-center">
            <p class="text-white group-hover:underline">←TOPページへ戻る</p>
          </a>
        </div>
      </div>
    <!-- </div> -->
	</main>
</Layout>
