---
import Layout from "@/layouts/Layout.astro";
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import '@/scss/styles.scss';
import Accordion from '@/components/Acordion.astro';
import GallerySwiper from '@/components/GallerySwiper.astro'
import Firstview from '@/components/Firstview.astro'

import '@fontsource/zen-kaku-gothic-new';
import '@fontsource-variable/noto-serif-jp';
import '@fontsource-variable/inter';

import { Image } from 'astro:assets';
import activityImage from '@/assets/images/activity.png'

import { fetchHistoryContents } from '@/pages/history';
const historyContents = await fetchHistoryContents();
import { fetchEventsContents } from '@/pages/fetchEvents';
const eventsContents = await fetchEventsContents();
import { fetchAboutContents } from '@/pages/fetchAbout';
const aboutContents = await fetchAboutContents();
import { fecthLineImage } from '@/pages/join';
const lineImage = await fecthLineImage();

const title = "稲門シナリオ研究会 | 早稲田大学映画研究サークル";
const description = "早稲田大学の映画研究サークル。映画制作を中心に夏合宿やシナリオ講評会を行う。";
const og_image = "";
---

<Layout title={title} , description={description} og_image={og_image}>
	<main>
		<!-- 作品一覧へ　ここから -->
    <div class="scroll-container">
      <section id="firstview" class="p-firstview">
        <Firstview />
      </section>
    </div>
		<!-- 作品一覧へ　ここまで -->
		<!-- NEWS　ここから -->
    <section id="news" class="md:!mb-[70px] md:mt-[52px] mb-[100px] p-news">
      <h2 class="is-not-visible">NEWS</h2>
      <Accordion />
    </section>
		<!-- NEWS　ここまで -->
		<!-- ACTIVITY　ここから -->
    <section id="activity" class="md:!max-w-[300px] md:!mb-[70px] p-activity mb-[100px]">
      <h2 class="is-not-visible">ACTIVITY</h2>
      <div class="is-not-visible items-center gap-[66px] md:gap-[40px] md:flex-col md:!mt-[27px]">
        <Image src={activityImage} alt="activity" class="md:w-[170px]" />
        <p class="md:text-xs md:!font-normal md:!leading-tight">稲門シナリオ研究会（通称シナ研）は、早稲田大学公認で70年以上の伝統を誇る映画制作サークル。シナリオ（脚本）を含む企画立案から撮影、編集に至るまで、映画制作のすべてを実践的に学ぶ。毎月の定例会に夏合宿、シナリオ講評会を通じてメンバー同士切磋琢磨し、映画トークで盛り上がり、新鮮で革新的な作品を生み出し続け、エンターテインメント業界を牽引していくことを目指している。</p>
      </div>
    </section>
		<!-- ACTIVITY　ここまで -->
		<!-- GALLERY　ここから -->
    <section id="gallery" class="md:!mb-[70px] p-gallery">
      <h2 class="is-not-visible md:mb-[27px] mb-[60px]">GALLERY</h2>
      <GallerySwiper />
    </section>
		<!-- GALLERY　ここまで -->

		<!-- 柳原　ここから -->
		<!-- EVENTS　ここから -->
    <section id="events" class="md:!mb-[70px] p-events mb-[100px]">
      <div class="md:hidden p-events__l-container">
        <h2 class="is-not-visible">EVENTS</h2>
        <div class="p-events__cards_1">
          <div class="p-events__cards_1_text">
            <span class="text">{eventsContents.title1}</span>
            <p>
              {eventsContents.title1Content}
            </p>
          </div>
          <div class="max-w-[474px]">
            <img src={eventsContents.image1.url} alt="events1" class="fade-in w-full h-full object-cover">
          </div>
        </div>
        <div class="p-events__cards_2">
          <div class="max-w-[474px]">
            <img src={eventsContents.image2.url} alt="events2" class="fade-in w-full h-full object-cover"></img>
          </div>
          <div class="p-events__cards_2_text">
            <span class="text reverse block ml-auto">{eventsContents.title2}</span>
            <p>
              {eventsContents.title2Content}
            </p>
          </div>
        </div>
        <div class="p-events__cards_3">
          <div class="p-events__cards_3_text">
            <span class="text">{eventsContents.title3}</span>
            <p>
              {eventsContents.title3Content}
            </p>
          </div>
          <div class="max-w-[474px]">
            <img src={eventsContents.image3.url} alt="events3" class="fade-in w-full h-full object-cover">
          </div>
        </div>
      </div>
      <div class="md:block hidden">
        <h2 class="mb-[27px]">EVENTS</h2>
        <div id="events-swiper" class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide !h-[577px] pt-5 pb-[27px] text-center px-5 !relative overflow-hidden after:[background-image:url(@/assets/images/events1.png)] after:bg-no-repeat after:bg-cover after:content-[''] after:absolute after:bg-center after:-inset-1 after:-z-10 after:blur-sm after:grayscale">
              <p class="text-xl font-bold mb-[10px]">{eventsContents.title1}</p>
              <p class="text-left [font-size:10px] px-[26px] mb-[33px]">{eventsContents.title1Content}</p>
              <img src={eventsContents.image1.url} alt="events1" width={353} height={305} class="block mx-auto" />
            </div>
            <div class="swiper-slide !h-[577px] pt-5 pb-[27px] text-center px-5 !relative overflow-hidden after:[background-image:url(@/assets/images/events2.png)] after:bg-no-repeat after:bg-cover after:content-[''] after:absolute after:bg-center after:-inset-1 after:-z-10 after:blur-sm after:grayscale">
              <p class="text-xl font-bold mb-[10px]">{eventsContents.title2}</p>
              <p class="text-left [font-size:10px] px-[26px] mb-[33px]">{eventsContents.title2Content}</p>
              <img src={eventsContents.image2.url} alt="events2" width={353} height={305} class="block mx-auto" />
            </div>
            <div class="swiper-slide !h-[577px] pt-5 pb-[27px] text-center px-5 !relative overflow-hidden after:[background-image:url(@/assets/images/events3.png)] after:bg-no-repeat after:bg-cover after:content-[''] after:absolute after:bg-center after:-inset-1 after:-z-10 after:blur-sm after:grayscale">
              <p class="text-xl font-bold mb-[10px]">{eventsContents.title3}</p>
              <p class="text-left [font-size:10px] px-[26px] mb-[33px]">{eventsContents.title3Content}</p>
              <img src={eventsContents.image3.url} alt="events3" width={353} height={305} class="block mx-auto" />
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
		<!-- EVENTS　ここまで -->
		<!-- HISTORY　ここから -->
    <section id="history" class="md:!pb-[60px] pb-[100px]">
      <h2 class="is-not-visible md:mb-[27px] mb-[60px]">HISTORY</h2>
      <div class="relative">
        <div id="history-swiper" class="swiper is-not-visible">
          <div class="swiper-wrapper items-center">
            {historyContents.map((content: any) => (
              <div class="swiper-slide">
                <img src={content.image.url} alt='historyのイメージ画像' class="mx-auto h-[294px] w-full object-cover" />
              </div>
            ))}
          </div>
          <div class="swiper-button-prev md:!hidden bg-black bg-opacity-80 rounded-full !w-[50px] !h-[50px] after:!text-3xl !left-[31px]"></div>
          <div class="swiper-button-next md:!hidden bg-black bg-opacity-80 rounded-full !w-[50px] !h-[50px] after:!text-3xl !right-[31px]"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="md:text-center md:text-xs md:mt-[43px] mt-[135px] max-w-[841px] box-content mx-auto px-14">
        <p id="history-period" class="md:tracking-[4px] text-[#F5F5F5] text-xl font-bold tracking-[10px] mb-3">{historyContents[0].period}</p>
        <p id="history-description" class="md:tracking-[4px] tracking-[20px]">{historyContents[0].explanation}</p>
      </div>
    </section>
		<!-- HISTORY　ここまで -->
		<!-- ABOUT　ここから -->
    <section id="about" class="md:py-0 md:mb-[60px] py-[100px] text-[#F5F5F5] max-w-[954px] mx-auto mb-[100px] relative">
      <h2 class="is-not-visible">ABOUT</h2>
      <!-- OVERVIEW -->
      <div class="px-[19px]">
        <table class="md:mt-[27px] mx-auto mt-[60px] w-full before:md:hidden after:md:hidden before:content-[''] before:block before:absolute before:h-[1px] before:w-[650px] before:bg-[#F5F5F5] before:bottom-0 before:left-1/2 before:-translate-x-2/4 after:content-[''] after:block after:absolute after:h-[1px] after:w-[650px] after:bg-[#F5F5F5] after:top-0 after:left-1/2 after:-translate-x-2/4">
          <thead class="is-not-visible md:text-xs text-2xl">
            <tr>
              <th colspan="2" class="md:table-cell md:tracking-[5px] tracking-[24px] inline-block relative after:md:w-[96px] after:md:mx-auto after:md:-left-1 after:md:right-0 after:md:-bottom-[2px] after:content-[''] after:block after:w-11/12 after:h-[1px] after:absolute after:-bottom-1 after:bg-[#F5F5F5]">OVERVIEW</th>
            </tr>
          </thead>
          <tbody class="is-not-visible before:md:h-[35px] before:h-[66px] before:block">
            <tr class="border-b">
              <td class="md:text-xs md:font-semibold md:pb-[5px] pb-[15px] text-xl font-bold">サークル名</td>
              <td class="md:text-xs md:pb-[5px] pb-[15px]">{aboutContents.clubName}</td>
            </tr>
            <tr class="border-b">
              <td class="md:text-xs md:font-semibold md:py-[5px] py-[15px] text-xl font-bold">人数</td>
              <td class="md:text-xs">{aboutContents.headcount}</td>
            </tr>
            <tr class="border-b">
              <td class="md:text-xs md:font-semibold md:py-[5px] py-[15px] text-xl font-bold">活動場所</td>
              <td class="md:text-xs">{aboutContents.place}</td>
            </tr>
            <tr class="border-b">
              <td class="md:text-xs md:font-semibold md:py-[5px] py-[15px] text-xl font-bold">会費</td>
              <td class="md:text-xs">{aboutContents.fee}</td>
            </tr>
            <tr class="border-b">
              <td class="md:text-xs md:font-semibold md:py-[5px] py-[15px] text-xl font-bold">YouTube</td>
              <td class="md:text-xs"><a href={aboutContents.youtubeUrl} class="underline">{aboutContents.youtubeText}</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- SNS -->
      <div class="px-[19px]">
        <h3 class="is-not-visible md:mt-7 md:mb-5 md:block md:text-center md:text-xs md:tracking-[5px] text-2xl font-bold mt-[60px] mb-[59px] inline-block relative after:md:w-[35px] after:md:-left-1 after:md:right-0 after:md:mx-auto after:md:-bottom-[2px] after:content-[''] after:block after:w-full after:h-[1px] after:absolute after:-bottom-1 after:bg-[#F5F5F5]">SNS</h3>
        <div class="is-not-visible md:gap-[25px] md:flex-col flex justify-between items-center">
          <a class="twitter-timeline" data-width="432px" data-height="573px" href="https://twitter.com/shinaken_film?ref_src=twsrc%5Etfw">shinaken_filmさんの投稿</a>
          <div class="ig-container w-[432px] max-w-full h-[573px]"></div>
        </div>
      </div>
    </section>
		<!-- ABOUT　ここまで -->
		<!-- 入会方法　ここから -->
    <section id="join" class="pt-[34px] pb-[53px] bg-[#F5F5F5]">
      <div class="md:mb-7 max-w-[1178px] px-5 box-content mx-auto mb-11 text-black">
        <h2 class="md:text-xs md:tracking-widest is-not-visible join-title font-bold text-black text-left mb-3">入会方法</h2>
        <p class="md:text-xs is-not-visible text-xl">ご興味をお持ちいただけましたら、ぜひ新歓LINEグループへご参加ください。</p>
      </div>
      <button id="open-btn" class="md:w-[150px] md:text-2xl is-not-visible grid place-items-center mx-auto bg-[#1A1A1A] rounded-[10px] w-[270px] h-[58px] text-4xl">JOIN US</button>
    </section>
    <div id="popup" class="z-50 opacity-0 pointer-events-none fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300">
      <div class="bg-white rounded-lg p-6 max-w-sm relative">
        <button id="close-btn" class="absolute top-2 right-2 text-gray-600 hover:text-black">✖</button>
        <img src={lineImage.image.url} alt="ポップアップ画像" class="w-full h-auto rounded" />
      </div>
    </div>
		<!-- 入会方法　ここまで -->
	</main>
  
  <script is:inline src="/node_modules/flowbite/dist/flowbite.min.js"></script>  

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async src="//www.instagram.com/embed.js"></script>
	<script>
    import './main';
    import "./events";
    import {fetchNewsContents} from './news';
    fetchNewsContents();
    import {eventsSwiper} from './eventsSwiper';
    eventsSwiper();
    import {gallerySwiper} from './gallery';
    gallerySwiper();

    import { initAnimations } from '@/pages/firstview.mjs';
    initAnimations();

    import { historySwiper } from './history';
    historySwiper();
    import { fetchInstagramPosts } from './instagram';
    fetchInstagramPosts();

    const openBtn = document.getElementById('open-btn');
    openBtn?.addEventListener('click', () => {
      const popup = document.getElementById('popup');
      popup?.classList.remove('opacity-0', 'pointer-events-none');
      popup?.classList.add('opacity-100', 'pointer-events-auto');
    })

    const closeBtn = document.getElementById('close-btn');
    closeBtn?.addEventListener('click', () => {
      const popup = document.getElementById('popup');
      popup?.classList.remove('opacity-100', 'pointer-events-auto');
      popup?.classList.add('opacity-0', 'pointer-events-none');
    })
    
    // aboutのh3タグ(「SNS」)がaタグで動的にラップされてしまうので、そのaタグを削除する
    const unwrap = (target: any) => {
      while (target.firstChild) {
        target.parentNode.insertBefore(target.firstChild, target);
      }
      target.remove();
    };
    unwrap(document.querySelector('#about > div:last-child > a'));

    function toggleTitleCss(index: number) {
      const button = document.querySelector(`#accordion-color-heading-${index} .accordion-button`);
      const title = document.querySelector(`#accordion-color-heading-${index} .accordion-title`);

      if (button && title) {
        const isExpanded = button.getAttribute('aria-expanded') === 'true';
        button.setAttribute('aria-expanded', isExpanded ? 'false' : 'true');

        if (isExpanded) {
          title.classList.add('max-w-[90%]', 'truncate');
        } else {
          title.classList.remove('max-w-[90%]', 'truncate');
        }
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
      const buttons = document.querySelectorAll('.accordion-button');
      buttons.forEach((button, i) => {
        button.addEventListener('click', () => toggleTitleCss(i + 1));
      });
    });
    
    // flowbite
    const accordionElement = document.getElementById('accordion-color');

    // create an array of objects with the id, trigger element (eg. button), and the content element
    const accordionItems: AccordionItem[] = [
        {
          id: 'accordion-color-heading-1',
            triggerEl: document.querySelector('#accordion-color-heading-1')!,
            targetEl: document.querySelector('#accordion-color-body-1')!,
            active: true
        },
        {
            id: 'accordion-color-heading-2',
            triggerEl: document.querySelector('#accordion-color-heading-2')!,
            targetEl: document.querySelector('#accordion-color-body-2')!,
            active: false
        },
        {
            id: 'accordion-color-heading-3',
            triggerEl: document.querySelector('#accordion-color-heading-3')!,
            targetEl: document.querySelector('#accordion-color-body-3')!,
            active: false
        }
    ];

    // options with default values
    const options = {
        alwaysOpen: true,
        activeClasses: 'dark:bg-gray-800 text-gray-900 dark:text-white',
        inactiveClasses: 'text-gray-500 dark:text-gray-400',
        onOpen: (item: any) => {
            console.log('accordion item has been shown');
            console.log(item);
        },
        onClose: (item: any) => {
            console.log('accordion item has been hidden');
            console.log(item);
        },
        onToggle: (item: any) => {
            console.log('accordion item has been toggled');
            console.log(item);
        },
    };

    // instance options object
    const instanceOptions = {
      id: 'accordion-color',
        override: true
    };

    import { Accordion, type AccordionItem } from 'flowbite';

    /*
    * accordionEl: HTML element (required)
    * accordionItems: array of accordion item objects (required)
    * options (optional)
    * instanceOptions (optional)
    */


    const accordion = new Accordion(accordionElement, accordionItems, options, instanceOptions);

    import $ from "jquery";
    $(function() {
	    var headerHeight = $('header').outerHeight(),
		  startPos = 0;
	    $(window).on('load scroll', function() {
		    var scrollPos = $(this).scrollTop();
		    if ( scrollPos! > startPos && scrollPos! > headerHeight! ) {
			    $('header').css('top', '-' + headerHeight + 'px');
		    } else {
			    $('header').css('top', '0');
		    }
		  startPos = scrollPos!;
	    });
    });	
	</script>

</Layout>
